﻿<form class="form-login" role="form">
    <h2 class="form-login-heading">Sign up</h2>
    <div class="form-group">
        <div class="col-md-12">
            <input name="Username" type="text" class="form-control" placeholder="Username" ng-model="vm.registration.userName" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input name="Email" type="text" class="form-control" placeholder="Email" ng-model="vm.registration.email" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input name="Password" type="password" class="form-control" placeholder="Password" ng-model="vm.registration.password" required>
        </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <input name="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" ng-model="vm.registration.confirmPassword" required>
      </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="vm.signUp()">Submit</button>
            <div ng-hide="vm.message == ''" ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{vm.message}}
            </div>
        </div>
    </div>
</form>