<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-success navbar-toggle" ng-click="navbarExpanded = !navbarExpanded">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
            <a class="navbar-brand" href="#/">Home</a>
        </div>
        <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="!vm.authentication.isAuth">
                    <a href="#/manage">Welcome {{vm.authentication.userName}}</a>
                </li>
                <li ng-hide="!vm.authentication.isAuth">
                    <a href="" ng-click="vm.logOut()">Logout</a>
                </li>
                <li ng-hide="vm.authentication.isAuth">
                    <a href="#/login">Login</a>
                </li>
                <li ng-hide="vm.authentication.isAuth">
                    <a href="#/signup">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</div>