﻿<div class="row">
    <div class="col-md-12">
        <form ng-if="!vm.manageInfo.hasPassword" class="form-login" role="form">
            <h2 class="form-login-heading">Set your password</h2>
            <input type="password" class="form-control" placeholder="Password" ng-model="vm.createPassword.password" required>
            <input type="password" class="form-control" placeholder="Confirm Password" ng-model="vm.createPassword.confirmPassword" required>
            <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="vm.setPassword()">Submit</button>
            <div ng-hide="vm.message == ''" class="alert alert-success">
                {{vm.message}}
            </div>
        </form>
        <h4>Your social networking accounts:</h4>
        <hr/>
        <div class="row" ng-repeat="login in vm.manageInfo.logins[0]">
            <div class="col-md-2">
                {{login.loginProvider}}
            </div>
            <div class="col-md-2">
                <button type="button" ng-if="vm.manageInfo.logins[0].length > 1 || vm.manageInfo.hasPassword" class="btn btn-default" ng-click="vm.removeLogin(login)">Remove</button>
            </div>
        </div>
        <h4>Associate another social networking account:</h4>
        <hr/>
      <div class="row" ng-repeat="login in vm.manageInfo.logins[1]">
        <button type="button" class="btn btn-default" ng-click="vm.linkLogin(login.authenticationType)">{{login.authenticationType}}</button>
      </div>
    </div>
</div>