﻿<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h3>Associate your {{vm.registerData.provider}} Account</h3>
        <hr/>
        <p class="text-success">
            You have successfully authenticated with <strong>{{vm.registerData.provider}} </strong>. Please enter a user name below for this site and click the Register button to log in.
        </p>
        <div class="row">
            <div class="col-md-3">
                &nbsp;
            </div>
            <div class="col-md-6">
                <form role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="UserName" placeholder="UserName" ng-model="vm.registerData.userName" required autofocus>
                        <input ng-if="(!vm.email === null && !vm.email === undefined) || (vm.email.length < 1)" name="Email" type="text" class="form-control" placeholder="Email" ng-model="vm.registerData.email" required>
                        <button class="btn btn-sm btn-info btn-block" type="button" style="margin-top: 10px;" ng-click="vm.registerExternal()">Register</button>
                    </div>
                    <div ng-hide="vm.message == ''" ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                        {{vm.message}}
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                &nbsp;
            </div>
        </div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>