/* Sticky footer styles
-------------------------------------------------- */
html {
    min-height: 100%; 
    position: relative;
    width: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    padding-top: 40px;
    xpadding-bottom: 10px;
    width: 100%;
}

#footer {
    background-color:  black;
    bottom: 0;
    /* Set the fixed height of the footer here */
    height: 60px;
    position: absolute;
    width: 100%;
}

.text-muted { margin: 20px 0; }

.form-login {
    margin: 0 auto;
    max-width: 330px;
    padding: 0px 15px 5px 15px;
}

.form-login .form-login-heading { margin-bottom: 10px; }

.form-login .form-control {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.form-login .form-control:focus { z-index: 2; }

.form-login input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 5px;
    margin-top: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form textarea,
form select {

    border: 1px solid;
    color: #999;
    font-size: 1em;
    outline: none;
    padding: 10px 13px;
    width: 100%;
}

form input[type="text"].ng-pristine ~ .err-msg,
form input[type="email"].ng-pristine ~ .err-msg,
form input[type="number"].ng-pristine ~ .err-msg,
form input[type="password"].ng-pristine ~ .err-msg,
form textarea.ng-pristine ~ .err-msg,
form select.ng-pristine ~ .err-msg { display: none; }

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="password"]:focus,
form textarea:focus,
form select:focus {
    border: 1px solid !important;
    outline: none !important;
}

form input[type="text"]:focus ~ .err-msg,
form input[type="email"]:focus ~ .err-msg,
form input[type="number"]:focus ~ .err-msg,
form input[type="password"]:focus ~ .err-msg,
form textarea:focus ~ .err-msg,
form select:focus ~ .err-msg { display: none !important; }

form input[type="radio"] { margin-right: 4px; }

form select { height: 42px; }

form input[type="radio"]:focus,
form input[type="checkbox"]:focus {
    border: 1px solid !important;

    outline: none !important;
}

form input[type="radio"]:focus ~ .err-msg,
form input[type="checkbox"]:focus ~ .err-msg { display: none !important; }

.ng-invalid.ng-dirty,
.ng-invalid-required.ng-dirty {

}

.ng-invalid.ng-dirty + .err-msg,
.ng-invalid-required.ng-dirty + .err-msg { display: block; }

.ng-invalid.ng-dirty:focus,
.ng-invalid-required.ng-dirty:focus {  }

.ng-invalid.ng-dirty:focus + .err-msg,
.ng-invalid-required.ng-dirty:focus + .err-msg { display: none !important; }

.err-msg {
    display: none;
    padding: 5px;
}

.err-msg.right {
    margin-right: -684px;
    position: absolute;
    right: 0;
    top: 10px;
    width: 695px;
}

.err-msg.right:before {
    border-color: transparent #b94a48 transparent transparent;
    border-style: solid;
    border-width: 6px 9px 6px 0;
    content: "";
    height: 0;
    left: -4px;
    position: absolute;
    top: 8px;
    width: 0;
}

.err-msg.top {
    left: -193px;
    margin-left: 50%;
    min-width: 386px;
    position: absolute;
    text-align: center;
    top: -35px;
}

.err-msg.top:before {
    border-color: #b94a48 transparent transparent transparent;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    bottom: -9px;
    content: "";
    height: 0;
    left: -5px;
    margin-left: 50%;
    position: absolute;
    width: 0;
}

.err-msg .msg {
    background: #b94a48;
    color: white;
    display: inline;
    font-weight: 200;
    padding: 7px;
}

.err-msg.large-msg {
    background: #b94a48;
    z-index: 9999;
}

.err-msg.large-msg.top { top: -100%; }

.err-msg.large-msg .msg { background: none; }

.small + .err-msg.top { margin-left: 35%; }

form.submit-blocked .ng-pristine.ng-invalid + .err-msg { display: none; }

form.submit-blocked input[type="radio"].ng-pristine.ng-invalid + .err-msg { display: block; }

form.submit-blocked .ng-invalid {
}

form.submit-blocked .ng-invalid ~ .err-msg { display: block; }

form.submit-blocked .ng-invalid:focus {  }

form.submit-blocked .ng-invalid:focus ~ .err-msg { display: none !important; }

form.submit-blocked.submit-delayed .ng-pristine.ng-invalid + .err-msg {
    opacity: 0 !important;
    z-index: -2 !important;
}

growl-notifications {
    position: fixed;
    top: 51px;
    z-index: 1000;
    width: 100%;
}

growl-notification {
    padding: 15px 0px;
    position: fixed;
    width: 100%;
}

growl-notification a.closingLink {
    float: right;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
    font-weight: bold;
    font-size: 20px;
    margin-top: -4px;
}

growl-notification a.closingLink:hover {
    color: #000;
    text-decoration: none;
    opacity: 1;
}