﻿<form class="form-login" role="form">
    <h4 class="form-login-heading">Enter username to send password reset email</h4>
    <div class="form-group">
        <div class="col-md-12">
            <input name="Username" type="text" class="form-control" placeholder="Username" ng-model="vm.userName" required autofocus>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button class="btn btn-lg btn-info btn-block" type="button" ng-click="vm.sendPasswordEmail(vm.userName)">Submit</button>
            <div ng-hide="vm.message == ''" ng-class="(vm.sentSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{vm.message}}
            </div>
        </div>
    </div>
</form>