﻿<form role="form">
    <div class="row">
        <div class="col-md-2">
            &nbsp;
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Login</h2>
            <input type="text" class="form-control" placeholder="Username" ng-model="vm.loginInfo.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Password" ng-model="vm.loginInfo.password" required>
            <button class="btn btn-md btn-info btn-block" type="submit" ng-click="vm.login()">Login</button>
            <a ng-href="#/forgotPassword">Forgot password?</a>
        </div>
        <div class="col-md-4">
            <h2 class="form-login-heading">Social Logins</h2>
            <p>Or you can login using one of the social logins bleow</p>
            <button class="btn btn-large btn-facebook btn-block" type="button" ng-click="vm.authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
            <button class="btn btn-large btn-google-plus btn-block" type="button" ng-click="vm.authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
        </div>
        <div class="col-md-2">
            &nbsp;
        </div>
    </div>
</form>