<!DOCTYPE html>
<html ng-app="app" ng-controller="SiteController as site">
    <head>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>AngularJS UI Seed Project</title>

        <!-- inject:css -->
        <!-- endinject -->

    </head>
    <body>
        <!--<growl-notifications></growl-notifications>
        <div ng-repeat="(id, notification) in notifications track by id" ng-cloak>
            <growl-notification class="alert-danger" ttl="60000" ng-style="{'z-index': '900000' + $index}">
                <div class="container">
                    {{notification.message}}
                    <a href="{{notification.callbackUrl}}" ng-if="notification.callbackUrl !== ''">{{notification.callbackText}}</a>
                    <a ng-click="site.callbackAction(notification.callbackMethod, notification.callbackService, notification.callbackData)" ng-if="notification.callbackUrl === ''">{{notification.callbackText}}</a>
                    <a href="#" class="closingLink" ng-click="$growlNotification.remove()">×</a>
                </div>
            </growl-notification>
        </div>-->

        <navbar></navbar>

        <div class="container">
            <div ui-view></div>
        </div>

        <!-- inject:js -->
        <!-- endinject -->
        <!-- angular:js -->
        <!-- endinject -->
    </body>
</html>