﻿<form class="form-login" role="form">
    <h2 class="form-login-heading">Enter a new password.</h2>
    <div class="form-group">
        <div class="col-md-12">
            <input name="Password" type="password" class="form-control" placeholder="Password" ng-model="vm.resetPassword.password" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <input name="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" ng-model="vm.resetPassword.confirmPassword" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <button class="btn btn-lg btn-info btn-block" type="button" ng-click="vm.resetPassword(vm.resetPassword)">Submit</button>
            <div ng-hide="vm.message == ''" ng-class="(vm.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{vm.message}}
            </div>
        </div>
    </div>
</form>